#### Задание 1
Создайте numpy array с элементами от числа N до 0 (например, для N = 10 это будет array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])).

In [1]:
import numpy as np
N=12
np.arange(0,N)[::-1]

array([11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1,  0])

#### Задание 2
Создайте диагональную матрицу с элементами от N до 0. Посчитайте сумму ее значений на диагонали.

In [2]:
N=7
M=np.diag(np.arange(N), k=0)
M

array([[0, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0],
       [0, 0, 2, 0, 0, 0, 0],
       [0, 0, 0, 3, 0, 0, 0],
       [0, 0, 0, 0, 4, 0, 0],
       [0, 0, 0, 0, 0, 5, 0],
       [0, 0, 0, 0, 0, 0, 6]])

In [3]:
sum(M[i][i] for i in range(N))

21

#### Задание 3
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [4]:
import pandas as pd
ratings = pd.read_csv('ratings.csv')
ratings[ratings['rating']==5.0]['movieId'].value_counts().head(1)

318    170
Name: movieId, dtype: int64

#### Задание 4
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [7]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [9]:
(
data[ ((data['country']=='Latvia') | (data['country']=='Lithuania') | (data['country']=='Estonia')) &
     
    ( (data['category']==4) | (data['category']==12) | (data['category']==21) ) &
     
     ( (data['year']>2004) & (data['year']<2011) ) &
     
     (data['quantity']>=0)
    
    ]['quantity']).sum()

240580.0

#### Задание 5
Решите систему уравнений:  

4x + 2y + z = 4  
x + 3y = 12  
5y + 4z = -3

In [3]:
from numpy import linalg

In [6]:
# коэффициенты при переменных в левой части уравнения

a = np.array( [ [4, 2, 1], [1, 3, 0], [0, 5, 4]] )

In [7]:
# значения в правой части уравнения

b = np.array( [4, 12, -3] )

In [8]:
linalg.solve(a, b)

array([ 0.46666667,  3.84444444, -5.55555556])

In [9]:
# проверка верности

np.allclose( np.dot(a, linalg.solve(a, b)), b )

True